.list-item {
  display: flex;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #e3e4f1;
  position: relative;
}
label {
  color: var(--fontColor);
}
input:checked + label {
  text-decoration: line-through;
  color: var(--colorCompleted);
}
.list-item input {
  margin-right: 16px;
}
.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 100px;
}
.checkbox--checked + label {
  text-decoration: line-through;
}
.label {
  flex-basis: 90%;
  text-align: left;
}
.close-icon {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
