.input {
  background: var(--background);
  box-shadow: var(--boxShadow);
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: inherit;
  color: #9495a5;
  font-size: 12px;
  padding: 18px 54px 18px 42px;
  width: 310px;
  margin-bottom: 16px;
  outline-color: rgb(5, 87, 5);
}
.invalid {
  outline-color: rgb(156, 16, 16);
}
@media (min-width: 768px) {
  .form input {
    width: 540px;
    font-size: 18px;
    letter-spacing: -0.25px;
  }
}
