.App {
  text-align: center;
}
.main-wrapper {
  background-color: var(--mainBgColor);
  min-height: 100vh;
}

.filter-container {
  background: var(--background);
  box-shadow: var(--boxShadow);
  border-radius: 5px;
  padding: 15px 0;
  width: 310px;
  margin: 0 auto;
}

.filter-container button {
  margin: 0 9px;
  font-size: 14px;
}
