.App {
  text-align: center;
  position: relative;
}
.main-wrapper {
  background-color: var(--mainBgColor);
  min-height: 100vh;
}
.wrapper {
  position: absolute;
  top: 108px;
  left: 50%;
  transform: translateX(-50%);
}
.filter-container {
  background: var(--background);
  box-shadow: var(--boxShadow);
  border-radius: 5px;
  padding: 15px 0;
  width: 310px;
  margin: 0 auto;
}

.filter-container button {
  margin: 0 9px;
  font-size: 14px;
}
[aria-pressed="true"] {
  color: red;
}

@media (min-width: 768px) {
  .wrapper {
    top: 190px;
  }
  .filter-container {
    width: 540px;
    font-size: 18px;
    letter-spacing: -0.25px;
  }
  .main-wrapper {
    min-height: 100vh;
  }
}
